.App {
  background-image: url(https://images.unsplash.com/photo-1558486012-817176f84c6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=970&q=80);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.Header {
  text-align: center;
}

.footer {
  text-align: center;
}
.main {
  
  margin-left: 40px;
  align-content: center;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.main > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.LeftTop {
  margin: 10px; 
  border: 1px solid black;
  min-width: 400px;
  min-height: 250px;
}

.LeftBottom
 {
  margin: 10px; 
  border: 1px solid black;
  min-width: 400px;
  min-height: 250px;
}

.RightTop {
  margin: 10px; 
  border: 1px solid black;
  min-width: 400px;
  min-height: 250px;
}

.RightBottom {
  margin: 10px; 
  border: 1px solid black;
  min-width: 400px;
  min-height: 250px;
}
