.Header {
  text-align: center;
}

.footer {
  text-align: center;
}
.main {
  margin-left: 40px;
  align-content: center;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.main > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.LeftTop {
  margin: 10px; 
  border: 1px solid black;
}

.LeftBottom
 {
  margin: 10px; 
  border: 1px solid black;
}

.RightTop {
  margin: 10px; 
  border: 1px solid black;
}

.RightBottom {
  margin: 10px; 
  border: 1px solid black;
}
