.App {
  display: flex
}
.LeftSide {
  width: 860px;
  height: 1080px;
  border: 1px solid black;
}

.LeftTop {
  width: 860px;
  height: 540PX;
  border: 1px solid black;

}

.RightSide {
  width: 860px;
  height: 1080px;
  border: 1px solid black;
}

.RightTop {
  width: 860px;
  height: 540PX;
  border: 1px solid black;

}